@page
@model Pages.MH_ThongKe_HetHanModel
@{
    ViewData["Title"] = "Thống kê Hàng hết hạn";
}

<div>
    <div class="row table_header mb-2">
        <p class="col-sm-3 mb-2 text-start fw-bold">Thông tin kho hàng</p>
        <div class="col-sm-9 mb-2 text-start text-sm-end d-inline-block">
            <form method="get">
                <div class="input-group mb-3">
                    <input type="text" id="search" name="search" value="@Model.SKeyword" maxlength="30" placeholder="Nhập từ khóa" class="form-control" />
                    <button type="submit" value="Tìm kiếm" class="btn btn-sm btn-primary text-light">Chạy thống kê</button>
                </div>
            </form>
        </div>
    </div>
    <div class="text-center table_section">
        <table class="table table-bordered table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên mặt hàng</th>
                    <th>Số lượng</th>
                    <th>Ngày sản xuất</th>
                    <th>Hạn dùng</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.DSkho != null && Model.DSkho.Length > 0)
                {
                    int j = Model.NoStart - 1;
                    for (int i = Model.NoStart; i <= Model.NoEnd; i++)
                    {
                        <tr>
                            <td>@i</td>
                            <td>@Model.DSkho[j].TenMatHang</td>
                            <td>@Model.DSkho[j].SoLuong</td>
                            <td>@Model.DSkho[j].NgaySanXuat</td>
                            <td>@Model.DSkho[j].HanDung</td>
                        </tr>
                        j++;
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="text-center fw-bold">Không có dữ liệu</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
   <div class="row table_pagination">
        @if (Model.DSkho != null && Model.DSkho.Length > 0)
        {
            <div class="col-9">
                <nav aria-label="Page navigation">
                    <ul class="pagination justify-content-center">
                        @for (int i = 1; i <= Model.PageTotal; i++)
                        {
                            if (i == Model.PageIndex)
                            {
                                <li class="page-item active"><a class="page-link" href="/ThongKe/MH_ThongKe_HetHan?search=@Model.SKeyword&page=@i">@i</a></li>
                            }
                            else
                            {
                                <li class="page-item"><a class="page-link" href="/ThongKe/MH_ThongKe_HetHan?search=@Model.SKeyword&page=@i">@i</a></li>
                            }
                        }
                    </ul>
                </nav>
            </div>
        }
    </div>
</div>
