@page
@model Pages.MH_MatHang_SuaModel

<div class="border border-secondary rounded px-3 mb-3">
    <div class="row pt-2">
        <p class="col-sm-6 text-start fw-bold">Thông tin mặt hàng</p>
        @if (Model.bFlag.HasValue && Model.bFlag.Value)
        {
            if (string.IsNullOrEmpty(Model.sInfo))
            {
                <p class="col-sm-6 text-end text-success fw-bold">Sửa mathang successfully</p>
            }
            else
            {
                <p class="col-sm-6 text-end text-danger fw-bold">@Model.sInfo</p>
            }
        }
    </div>

    <form class="row g-3 mb-2" method="post">
        <div class="col-md-2">
            <label for="id" class="form-label">Mã mặt hàng</label>
            <input class="form-control" type="text" id="id" name="MatHang.MaSo" value="@Model.mathang?.MaSo" maxlength="30" required>
        </div>
        <div class="col-md-2">
            <label for="name" class="form-label">Tên mặt hàng</label>
            <input class="form-control" type="text" id="name" name="MatHang.Ten" value="@Model.mathang?.Ten" maxlength="30" required>
        </div>
        <div class="col-md-2">
            <label for="loaihang" class="form-label">Loại hàng</label>
            <input class="form-control" type="text" id="loaihang" name="MatHang.LoaiHang" value="@Model.mathang?.LoaiHang" maxlength="30" required>
        </div>
        <div class="col-md-2">
            <label for="brand" class="form-label">Thương Hiệu</label>
            <input class="form-control" type="text" id="brand" name="MatHang.ThuongHieu" value="@Model.mathang?.ThuongHieu" maxlength="30" required>
        </div>
        <div class="col-md-2">
            <label for="price" class="form-label">Giá</label>
            <input class="form-control" type="number" id="price" name="MatHang.Gia" value="@Model.mathang?.Gia" min="1" required>
        </div>
        <div class="col-md-2 d-sm-flex align-items-end justify-content-end pb-1">
            <input class="btn btn-sm btn-warning text-light" type="submit" value="Sửa">
        </div>
    </form>
</div>

<div class="border border-secondary rounded px-3 mb-3">
    <div class="row pt-2">
        <p class="text-start fw-bold">Current mathang attributes</p>
    </div>
    <div class="text-center table_section">
        <table class="table table-bordered table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th>Mã mặt hàng</th>
                    <th>Tên mặt hàng</th>
                    <th>Loại hàng</th>
                    <th>Thương Hiệu</th>
                    <th>Giá</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.mathang?.MaSo</td>
                    <td>@Model.mathang?.Ten</td>
                    <td>@Model.mathang?.LoaiHang</td>
                    <td>@Model.mathang?.ThuongHieu</td>
                    <td>@Model.mathang?.Gia</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>