@page
@model Pages.MH_DonHangXuat_SuaModel
@{
    ViewData["Title"] = "Quản lý cửa hàng";
}

<div class="border border-secondary rounded px-3 mb-3">
    <div class="row pt-2">
        <p class="col-sm-6 text-start fw-bold">Thuộc tính:</p>
        @if (Model.bFlag)
        {
            if (string.IsNullOrEmpty(Model.sInfo))
            {
                <p class="col-sm-6 text-end text-success fw-bold">Sửa đơn xuất thành công</p>
            }
            else
            {
                <p class="col-sm-6 text-end text-danger fw-bold">@Model.sInfo</p>
            }
        }
    </div>
    <form class="row g-3 mb-2" method="post">
        <div class="col-md-3">
            <label for="id" class="form-label"> Mã đơn xuất</label>
            <input class="form-control" type="text" id="id" name="id" value="@Model.donxuat.MaSo" maxlength="30" required>
        </div>
        <div class="col-md-3">
            <label for="date" class="form-label">Ngày Đơn Xuất</label>
            <input class="form-control" type="date" id="date" name="date" value="@Model.donxuat.Ngay" required>
        </div>
        <div class="col-md-3 d-sm-flex align-items-end justify-content-end pb-1">
            <input class="btn btn-sm btn-warning text-light" type="submit" value="Sửa">
        </div>
    </form>
</div>

<div class="border border-secondary rounded px-3 mb-3">
    <div class="row pt-2">
        <p class="text-start fw-bold">Thuộc tính hiện tại của đơn xuất</p>
    </div>
    <div class="text-center table_section">
        <table class="table table-bordered table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th>Mã đơn xuất</th>
                    <th>Ngày Đơn Xuất</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.donxuat.MaSo</td>
                    <td>@Model.donxuat.Ngay</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
