@page
@model Pages.MH_DonHangXuat_ChiTietModel
@{
    ViewData["Title"] = "Quản lý cửa hàng";
}

<div>
    @if (Model.DonXuat != null)
    {
        <div class="row table_header mb-2">
            <p class="col-auto mb-2 text-start fw-bold">Hóa đơn xuất: MaSo = @Model.DonXuat.MaSo</p>
        </div>
        <div class="text-center table_section mb-2">
            <table class="table table-bordered table-striped table-hover align-middle">
                <thead>
                    <tr>
                        <th>MaSo Đơn Xuất</th>
                        <th>Ngày Đơn Xuất</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Model.DonXuat.MaSo</td>
                        <td>@Model.DonXuat.Ngay</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="text-center table_section mb-2">
            <table class="table table-bordered table-striped table-hover align-middle">
                <thead>
                    <tr>
                        <th>Số thứ tự</th>
                        <th>Tên Mặt Hàng</th>
                        <th>Số Lượng</th>
                        <th>Ngày Sản Xuất</th>
                        <th>Ngày Hết Hạn</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.DonXuat.Kho.Count > 0)
                    {
                        int i = 1;
                        for (int j = 0; j < Model.DonXuat.Kho.Count; j++)
                        {
                            <tr>
                                <td>@i</td>
                                <td>@Model.DonXuat.Kho[j].TenMatHang</td>
                                <td>@Model.DonXuat.Kho[j].SoLuong</td>
                                <td>@Model.DonXuat.Kho[j].NgaySanXuat</td>
                                <td>@Model.DonXuat.Kho[j].HanDung</td>
                            </tr>
                            i++;
                        }
                    }
                    else
                    {
                        <tr>
                            <td colspan="5" class="text-center fw-bold">Không có dữ liệu</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="row table_header mb-2">
            <p class="col-auto mb-2 text-start text-danger fw-bold">Đơn Xuất với MaSo = "@Request.Query["id"]" không được tìm thấy</p>
        </div>
    }
</div>
