@page
@using CaoQuocViet.Entities;
@using CaoQuocViet.XuLyNghiepVu;
@model CaoQuocViet.Pages.MH_MatHang_SuaModel
@{
    ViewData["Title"] = "Quản lý cửa hàng";
    string sInfo = string.Empty;
    bool bFlag = false;
    MatHang mathang = new MatHang() {};

    string sMatHangMaSo = Request.Query["id"];
    MatHang? isMatHang = XL_MatHang.ReadInfo(sMatHangMaSo);

    if (null == isMatHang)
    {
        sInfo = "This mathang is not exists";
        bFlag = true;
    }
    else
    {
        mathang = isMatHang.Value;

        if (Request.Method == "POST")
        {
            bFlag = true;
            string sMaSo = Request.Form["id"];
            string sTen = Request.Form["name"];
            string sLoaiHang = Request.Form["loaihang"];
            string sThuongHieu = Request.Form["brand"];
            string sGia = Request.Form["price"];
            sInfo = XL_MatHang.Sua(sMaSo, sTen, sLoaiHang, sGia, sThuongHieu, ref mathang);
        }
    }
}

<div class="border border-secondary rounded px-3 mb-3">
    <div class="row pt-2">
        <p class="col-sm-6 text-start fw-bold">Thông tin mặt hàng</p>
        @if (bFlag)
        {
            if (string.IsNullOrEmpty(sInfo))
            {
                <p class="col-sm-6 text-end text-success fw-bold">Sửa mathang successfully</p>
            }
            else
            {
                <p class="col-sm-6 text-end text-danger fw-bold">@sInfo</p>
            }
        }
    </div>

    <form class="row g-3 mb-2" method="post">
        <div class="col-md-2">
            <label for="id" class="form-label">Mã mặt hàng</label>
            <input class="form-control" type="text" id="id" name="id" value="@mathang.MaSo" maxlength="30" required>
        </div>
        <div class="col-md-2">
            <label for="name" class "form-label">Tên mặt hàng</label>
            <input class="form-control" type="text" id="name" name="name" value="@mathang.Ten" maxlength="30" required>
        </div>
        <div class="col-md-2">
            <label for="loaihang" class="form-label">Loại hàng</label>
            <input class="form-control" type="text" id="loaihang" name="loaihang" value="@mathang.LoaiHang" maxlength="30" required>
        </div>
        <div class="col-md-2">
            <label for="brand" class="form-label">Thương Hiệu</label>
            <input class="form-control" type="text" id="brand" name="brand" value="@mathang.ThuongHieu" maxlength="30" required>
        </div>
        <div class="col-md-2">
            <label for="price" class="form-label">Giá</label>
            <input class="form-control" type="number" id="price" name="price" value="@mathang.Gia" min="1" required>
        </div>
        <div class="col-md-2 d-sm-flex align-items-end justify-content-end pb-1">
            <input class="btn btn-sm btn-warning text-light" type="submit" value="Sửa">
        </div>
    </form>
</div>

<div class="border border-secondary rounded px-3 mb-3">
    <div class="row pt-2">
        <p class="text-start fw-bold">Current mathang attributes</p>
    </div>
    <div class="text-center table_section">
        <table class="table table-bordered table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th>Mã mặt hàng</th>
                    <th>Tên mặt hàng</th>
                    <th>Loại hàng</th>
                    <th>Thương Hiệu</th>
                    <th>Giá</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@mathang.MaSo</td>
                    <td>@mathang.Ten</td>
                    <td>@mathang.LoaiHang</td>
                    <td>@mathang.ThuongHieu</td>
                    <td>@mathang.Gia</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
