@page
@model Pages.MH_LoaiHang_SuaModel

@{
    ViewData["Title"] = "Quản lý cửa hàng";
}

<div class="border border-secondary rounded px-3 mb-3">
    <div class="row pt-2">
        <p class="col-sm-6 text-start fw-bold">Thuộc tính:</p>
        @if (Model.BFlag)
        {
            if (string.IsNullOrEmpty(Model.SInfo))
            {
                <p class="col-sm-6 text-end text-success fw-bold">Sửa loaihang successfully</p>
            }
            else
            {
                <p class="col-sm-6 text-end text-danger fw-bold">@Model.SInfo</p>
            }
        }
    </div>

    <form class="row g-3 mb-2" method="post">
        <div class="col-md-4">
            <label for="id" class="form-label">Mã loại hàng</label>
            <input class="form-control" type="text" id="id" name="id" value="@Model.LoaiHang?.MaSo" maxlength="30" required>
        </div>
        <div class="col-md-4">
            <label for="name" class="form-label">Tên loại hàng</label>
            <input class="form-control" type="text" id="name" name="name" value="@Model.LoaiHang?.Ten" maxlength="30" required>
        </div>
        <div class="col-md-4 d-sm-flex align-items-end justify-content-end pb-1">
            <input class="btn btn-sm btn-warning text-light" type="submit" value="Sửa">
        </div>
    </form>
</div>

<div class="border border-secondary rounded px-3 mb-3">
    <div class="row pt-2">
        <p class="text-start fw-bold">Current loaihang attributes</p>
    </div>
    <div class="text-center table_section">
        <table class="table table-bordered table-striped table-hover align-middle">
            <thead>
                <tr>
                    <th>Mã loại hàng</th>
                    <th>Tên loại hàng</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.LoaiHang?.MaSo</td>
                    <td>@Model.LoaiHang?.Ten</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
